    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hey!</p>
          <p>This is Hashmeet Singh Saini. I am a High School graduate from India, pursuing Advanced Diploma in Computer Programming and Analysis at Seneca</p>
          <p>I am a student with a passion for coding and is deeply interested in th Information and Technology world. Apart from that I am also have various other hobbies like sketching, listening to music, photography and watching movies</p>
          <p>My ultimate goal is to keep learning new programming languages and grow in the software engineering industry to secure jobs in the biggest IT companies like Apple, Amazon, Microsoft and more.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for the exciting updates and features coming very soon.</p>
        </aside>
      </div>
    </div>